div(ng-app="app")
  div(ng-controller="blogController")
    div 当前记录数量:{{totalCount}}条
    button(ng-click="clickOnce()") 点我增加一条记录
script(src="scripts/angular/angular.min.js")
script(src="javascripts/angular/angular.js")