<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(href="/common-upload/style.css" rel="stylesheet")
  body
    button.upload-button 点我上传
    button.terminate 点我中止
    input.file(type="file" style="display:none")
    .picContainer
    script(type="text/javascript" src="/common-upload/common-upload.js")