<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(href="/first/style.css" rel="stylesheet")
  body
    div 新的页面新的人生
    div 旧的旧的
    .get krke
    script(type="text/javascript" src="/first/first.js")