<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    form(action="/register" method="POST")
      div
        span 用户名
        input(type="text" name="username")
      div
        span 密码
        input(type="password" name="password")
      div
        span 电话号码
        input(type="text" name="tel")
      div
        input(type="submit" value="提交")